.iJEnYe {
  color: rgb(204, 181, 95);
  text-align: center;
  font-weight: 400;
  padding-top: 10px;
}
.WM_GLOBAL_heading42 {
  font-family: Rubik;
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 0.3em;
}
.sm-word-wrap {
  position: relative;
  white-space: pre-line;
}
h1, h2, h3, h4, h5, h6, p, address, ul, li, figure, body {
  margin: 0;
    margin-bottom: 0px;
  padding: 0;
    padding-top: 0px;
}
h1, h2, h3, h4, h5, h6, p, address, ul, li, figure, body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, address, ul, li, figure, body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, address, ul, li, figure, body {
  margin: 0;
  padding: 0;
}
.bpkmJC {
  text-align: center;
}
.PXsbt {
  word-break: break-word;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}